body {
    font-family: Times New Roman, sans-serif;
    background: #fee7f0;
    margin: 5;
    padding: 0;
}

header {
    text-align: center;
    background:#fff0f5 ;
    padding: 25px;
    border: 2px solid #ffc0cb;
    margin: 25px;
}

header h1 {
    color: #c71585;
    font-size: 30px;
    margin: 0;
	text-align: left;
}

#email {
    float: right;
    margin-top: -30px;
    margin-right: 30px;
    color: #c71585;
}

.sectiune {
    margin: 30px;
    padding: 20px;
    border: 2px solid #db7093;
    background: #faf0e6;
	
}
h1 {
    color: #ffb6c1;
    text-align: center;
    margin-bottom: 20px;
	text-align: right;
}
h2 {
    color: #db7093;
    text-align: center;
    margin-bottom: 20px;
	text-align: center;
}
li{
	color: #f495de;
	text-align: left;
	margin-bottom: 20px;
}

table {
    width: 50%;
    margin-left: auto;
	margin-right: 0;
    border-collapse: collapse;
	
}

th, td {
    border: 2px solid #dda0dd;
    padding: 15px;
    text-align: center;
}

.schema {
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 15px;
}

.resursa {
    width: 40%;
    margin: 15px;
    border-radius: 15px;
    opacity: 0.9;
}

#monitorizare {
    cursor: pointer;
}

.hidden {
    display: none;
}

#slideshow img {
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 20px;
}

/* SLIDESHOW JOS */
.slide-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slides {
    width: 50%;
    text-align: center;
}

.car-slide {
    width: 50%;
    margin: 15px;
}

.nav {
    border: none;
    background: none;
    font-size: 35px;
    cursor: pointer;
}